@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

body {
    background-color: rgb(255, 237, 240);
}

.center {
    display: flex;
    justify-content: center;

}
.navbar {
    display: flex;
    background-color: white;
    padding-bottom: 22px;
    justify-content: space-between;
}

.logo{
    margin-right: auto;
    width: 100px;
    margin-left: 1.5rem;
    padding-top: 15px;
}
.nav--list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header {
    position: relative;
    display: inline-block;
    width: 100%;
}

.header--text {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff; 
    padding-left: 10rem;
    padding-top: 21rem;
}

.header--image{
    display: block;
    width: 100%;
    filter: brightness(0.9);
}

.nav--list li {
    display: flex;
    justify-content: space-around;
    color: rgb(134, 97, 97)
}

.baker-image {
    margin: 0 auto;
    width: 37%;
    height: 600px;
    margin-top: 50px;
    border-radius: 25px;
}

.cookie-image {
    margin: 0 auto;
    width: 37%;
    height: 600px;
    margin-top: 50px;
    border-radius: 25px;
}
.photo-gallery {
    display: flex;
}

.title {
    color: rgb(134, 97, 97)
}

.footer-text {
    margin-top: 30px;
    width: 50%; 
    margin-left: 8rem;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 15rem;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}











@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#scroll-animated-section {
    opacity: 0;
}

#scroll-animated-section.visible {
    animation: fadeIn 2s ease-in-out;
    opacity: 1;
}